html, body, #page, #content {
	height: 100%;
}

h1, h2, h3, h4, h5, h6, ul, ol, li, div, a, p, span {
	padding: 0;
	margin: 0;
}

#masthead {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.localtest {
	color: orange;
}

.secondary-header {
	height: calc(100% - 84px);
	padding: 250px;
	background-size: cover;
	background-position: center center;
}

.secondary-header-text {
	color: $text_light;
	font-size: 46px;
	text-align: center;
}

.section-header {
	padding: 100px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.section-info {
	padding: 60px;
}

.center-image-header {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

	h2 {
		color: $text_light;
	}
}


footer {
	p {
		text-align: center;
		font-size: 12px;
	}

	.heart {
		color: #FFB6C1;
	}

	.portfolio-link {
		text-decoration: none;
		color: $color__text-main;
		&:hover {
			color: #FFB6C1;
		}
		&:visited, &:focus, &:active {
			color: lighten($color__text-main, 20%);
		}
	}
}

@media (max-width: 768px) {
 	.section-header {
 		padding: 100px 5%;
 	}

 	.secondary-header {
 		height: calc(100% - 46px);
 	}
}