.when-where-header {
	height: calc(100% - 84px);
	background-position: center 34%;
	padding: 0;
}

.when-when-heading {
	font-size: 25px;
}

.when-when-subheading {
	font-size: 25px;
}

.date-time {
	margin: 0 auto;
	text-align: center;
	font-family: $sans-serif;
	
	p {
		padding-bottom: 10px;
		margin-bottom: 0;
		&.wedding-date {
			padding-bottom: 0px;
		}
		&.wedding-time {
			padding-bottom: 30px;
			span {
				font-style: italic;
			}
		}
		&.wedding-venue {
			font-style: italic;
		}
	}
}

.travel-details {
	text-align: center;

	.travel-types {
		padding-bottom: 45px;
	}

	.travel-name, .travel-subheading {
		font-size: 20px;
		padding-bottom: 20px;
	}

	.parking-info {
		padding-bottom: 45px;
	}

	.travel-map {
		padding-bottom: 45px;
	}
}


.accommodations-header {
	background-position: center 80%;
	h2 {
		color: $color__text-main;
	}
}

.accommodation-subheading {
	font-size: 16px;
	padding-bottom: 25px;
	text-align: center;
	text-transform: initial; 
}

.section-repeater {
	display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .section-name {
  	font-size: 20px;
  	padding-bottom: 10px;
  }

  .section-site-link {
  	padding: 8px 16px;
  	text-decoration: none;
  	text-transform: uppercase;
  	font-size: 14px;
  	border: 2px solid $text_accent;
  	letter-spacing: 3px;
  	&:hover {
  		color: $text_light;
  		background: $text_accent;
  	}
  	&:visited {
  		color: $color__text-main;
  	}
  }
}

.accommodations-repeater {
  .accommodation-detail {
  	flex-basis: 33.33%;
  	text-align: center;
  	margin-bottom: 45px;
  }
}

.registry-repeater {
	.registry-detail {
		flex-basis: 50%;
		text-align: center;
		margin-bottom: 45px;
	}
}

@media (max-width: 768px) {
 	.accommodations-repeater .accommodation-detail {
 		flex-basis: 50%;
 	}
}

@media (max-width: 575px) {
 	.section-repeater .accommodation-detail, .section-repeater .registry-detail  {
 		flex-basis: 100%;
 	}
}
