.home {

	.section-wrapper {
		padding: 60px;
	}

	.section-heading {
		text-align: center;
		padding-bottom: 40px;
		font-size: 30px;
	}

	.section-content {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	//===================
	// hero section
	//===================
	.hero-section {
		// height: calc(100% - 84px);
		// background-size: cover;
		// background-repeat: no-repeat;
		background-position: center center;
	}

	//===================
	// our story section
	//===================
	.our-story-img {
		width: 450px;
		height: 450px;
		background-size: cover;
		background-position: center top;
	}

	.our-story-img, .our-story-desc {
		flex-basis: 50%;
	}

	.our-story-desc {
		padding: 0 0 0 40px;
	}

	//=======================
	// wedding party section
	//=======================
	.wedding-party-heading-container {
		padding: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.wedding-party-container {
		padding: 60px;

		.wedding-party-subheading {
			text-align: center;
			padding-bottom: 20px;
		}

		.party-member {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 20px 0;

			&:nth-child(2n) {
				flex-direction: row-reverse;
			}
		}

		.party-member-img {
			flex-basis: 30%;
			height: 200px;
			background-size: cover;
			background-position: center center;
		}

		.party-member-intro {
			flex-basis: 70%;
			padding: 0 35px;

			.party-member-name {
				padding-bottom: 15px;
				color: $text_accent;
			}
		}

		.the-ladies {
			margin-bottom: 30px;
		}

		.the-gents {
			&:before {
				content: '';
				width: 35%;
				height: 1px;
				background: $text_accent;
				display: block;
				margin: 0 auto;
				opacity: 0.3;
			}

			.wedding-party-subheading {
				padding-top: 50px;
			}
		}

	}

	@media (max-width: 768px) {
	 	.our-story-container {
	    flex-direction: column;
	 	}

	 	.our-story-img {
	 		margin-bottom: 15px;
	 	}

	 	.our-story-desc {
	 		padding: 0;
	 	}

	 	.section-repeater .accommodation-detail, .section-repeater .registry-detail  {
	 		flex-basis: 100%;
	 	}

	 	.wedding-party-container .party-member {
	    flex-direction: column;
	    &:nth-child(2n) {
	    	flex-direction: column;
	    }
	 	}

	 	.wedding-party-container .party-member-img {
	 		flex-basis: 100%;
	 		width: 100%;
	 		margin-bottom: 10px;
	 	}

	 	.wedding-party-container .party-member-intro {
	 		padding: 0;
	 	}
	}

	@media (max-width: 575px) {
	}
}