.rsvp-header {
	background-position: center 34%;
	padding: 0;
}

.rsvp-form {
	width: 75%;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0;
}

#rsvp {
	margin-top: 20px;
	.rsvpParagraph {
		margin: 0;
		font-style: italic;
		padding-top: 15px;

		label {
			width: 100%;
			display: block;
			padding-bottom: 5px;
		}

		input[type=text] {
			width: 50%;
			border: none;
			border-bottom: 1px solid #ccc;
			border-radius: 0;
			text-align: center;
		}

		input[type=submit] {
			padding: 8px 16px;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 14px;
			border: 1px solid $text_accent;
			letter-spacing: 3px;
			background: none;
			margin-top: 15px;
			&:hover, &:focus, &:active {
				color: $text_light;
				background: $text_accent;
			}
		}
	}
}

//plugin form container
#rsvpPlugin{
	font-family: $sans-serif;
	font-weight: 300;	

	input[type=submit] {
		margin-top: 15px;
	}

	//inside form fields
	#rsvpForm {
		p {
			margin: 0;
		}

		.rsvpBorderTop {
			border: none;	
			margin-top: 30px;
		}

		.rsvpFormField {
			input[type=text] {
				width: 50%;
				border: none;
				border-bottom: 1px solid #ccc;
				border-radius: 0;
				text-align: center;
			}
		}

		.rsvpFormField label {
			font-family: $sans-serif;
			padding-left: 10px;
		}

		.rsvpParagraph {
			margin: 0;
			font-style: italic;
			label {
				width: 100%;
				display: block;
				padding-bottom: 5px;
			}

			input[type=text] {
				width: 50%;
				border: none;
				border-bottom: 1px solid #ccc;
				border-radius: 0;
				text-align: center;
			}
		}

		.rsvpCustomQuestions {
			margin-top: 25px;

			.rsvpFormField {
				padding: 20px 0;
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			.rsvpFormField:nth-child(2) p {
				input[type=radio]+label {
					display: inline-block;
					padding: 10px 30px 11px 15px;
					width: auto;
				}
			}
		}

		h3 {
			padding: 25px;
		}

		.rsvpAdditionalAttendee {
			border-top: none;
			.rsvpAdditionalAttendeeQuestions {
				text-align: center;
			}
		}

		#additionalRsvpContainer {
			#addRsvp {
				&:after {
					content: '+';
					font-size: 25px;
					height: 20px;
					width: 20px;
				}
			}

			.rsvpAdditionalAttendee {
				padding: 20px 0;
				border: none;

				.rsvpAdditionalAttendeeQuestions .rsvpFormField label {
					width: 100%;
			    font-style: italic;
			    display: block;
				}

				.rsvpFormField {
					padding: 15px 0;
					text-align: center;
					&:nth-child(4) label {
						display: inline-block;
						width: auto;
						padding: 10px 30px 11px 15px;
					}
				}

				.rsvpCustomQuestions {
					margin: 0;

					.rsvpFormField:nth-child(2) p:nth-child(2) {
						input[type=radio]+label {
							display: inline-block;
							padding: 10px 30px 11px 15px;
							width: auto;
						}
					}
				}

				p {
					text-align: center;
				}
			}
		}
	}
}

@media (max-width: 768px) {
 	#rsvp .rsvpParagraph input[type=text], #rsvpPlugin #rsvpForm .rsvpFormField input[type=text] {
 		width: 100%;
 	}
}

@media (max-width: 575px) {
	.rsvp-header {
		background-position: 75% 34%;
	}

	.rsvp-form {
		width: 100%;
	}

	#rsvpPlugin #rsvpForm h3 {
		padding: 0;
	}

	#rsvpPlugin #rsvpForm .rsvpCustomQuestions .rsvpFormField:nth-child(2) p  input[type="radio"], #rsvpPlugin #rsvpForm .rsvpAdditionalAttendee .rsvpAdditionalAttendeeQuestions .rsvpFormField input[type="radio"] {
		height: 25px;
		width: 15px;
		float: left;
	}

	#rsvpPlugin #rsvpForm .rsvpCustomQuestions .rsvpFormField:nth-child(2) p input[type=radio] + label, #rsvpPlugin #rsvpForm .rsvpAdditionalAttendee .rsvpAdditionalAttendeeQuestions .rsvpFormField input[type="radio"] + label {
		padding: 0 0 15px 30px;
		display: block;
		text-align: left;
	}

	#rsvpPlugin #rsvpForm .rsvpAdditionalAttendee .rsvpAdditionalAttendeeQuestions .rsvpFormField:first-child p {
		margin-bottom: 10px;
	}

	#rsvpPlugin #rsvpForm .rsvpAdditionalAttendee .rsvpAdditionalAttendeeQuestions .rsvpFormField:first-child input[type="radio"] {
			height: 25px;
			width: 15px;
			float: left;
			margin-left: 100px;
			margin-right: 12px;
	}

}